.cw {
  width: 1110px;
  /* padding: 0 1rem 0 1rem; */
  margin: 0 auto;
}
/* RWD */
@media screen and (max-width: 1200px) {
  .cw {
    width: 690px;
  }
}
@media screen and (max-width: 689px) {
  .cw {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .cw {
    width: 90%;
  }
}
