.JobsForm {
  background-color: var(--box-bg);
  display: grid;
  grid-template-columns:  463px 300px 345px;
  grid-template-rows: 1fr;
  border-radius: 6px;
  position: relative;
  bottom: 2.375rem;
}
.JobsForm > div {
  position: relative;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  border-right: 1px solid var(--separated-color);
}
.JobsForm > div:last-child {
  border-right: none;
  padding-left: 28px;
  padding-right: 16px;
  justify-content: space-between;
}
.JobsForm > div input {
  border: none;
  padding-left: 16px;
  
}
.JobsForm > div input {
  caret-color : var(--main-color);
}
.JobsForm input[type="text"] {
  width: 100%;
  height: 100%;
  padding-right: 16px;
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-weight: var(--regular);
  color: var(--primary-color-text);
  background-color: var(--box-bg);
}
.JobsForm input[type="text"]::placeholder {
  color: var(--second-color-text);
}
.JobsForm .description:before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../../../assets/images/icon-search.svg);
}
.JobsForm .location:before {
  display: block;
  content: "";
  width: 17px;
  height: 24px;
  background-image: url(../../../../assets/images/icon-location.svg);
}
.JobsForm input[type="checkbox"] {
  display: none;
}
.JobsForm > div:last-child label {
  position: relative;
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-weight: var(--bold);
  color: var(--primary-color-text);
}

.JobsForm > div:last-child label:before{
  display: inline-block;
  content:'';
  border: none;
  border-radius: 3px;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
  background: var(--ckekbox-color);
  vertical-align: text-bottom;
  position: relative;
  bottom: -2px;
  cursor: pointer;
}
.JobsForm input[type=checkbox]:checked + label:before{
  background:var(--main-color);
}
.JobsForm input[type=checkbox]:checked + label:after{
  display: block;
  content:"";
  width: 0.875rem;
  height: 0.75rem;
  background-image: url(../../../../assets/images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 8px;
  left: 5px;
  cursor: pointer;
}
.JobsForm input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-weight: var(--bold);
  width: 7.687rem;
  height: 3rem;
  padding-left: 0;
  padding-right: 0;
  transition: background-color 0.4s ease;
}
.JobsForm input[type="submit"]:hover {
  background-color: var(--main-color-hover);
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .JobsForm {
    grid-template-columns: 222px 213px 255px;
  }
  .fullTime span {
    display: none;
  }
  .JobsForm > div {
    padding-left: 1.5rem;
  }
  .JobsForm input[type="submit"] {
    width: 5rem;
  }
}
@media screen and (max-width: 689px) {
  .JobsForm {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
  }
  .JobsForm > div {
    border-right: none;
  }
}