.Header {
  background: url(../../../assets/images/bg-pattern-header.svg);
  min-height: 160px;
  background-size: cover;
  width: 100%;
  padding-top: 2.687rem;
}
.Header .mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header h1 {
  margin:0;
  padding:0;
}
@media screen and (max-width: 689px) {
  .Header {
    background: url(../../../assets/images/bg-pattern-header-mobile.svg);
    min-height: 136px;
    padding-top: 2rem;
  }
}