.Header {
  background: url(../../../assets/images/bg-pattern-header.svg);
  min-height: 160px;
  background-size: cover;
  width: 100%;
  padding-top: 2.687rem;
  position: relative;
}
.Header .mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header h1 {
  margin:0;
  padding:0;
}
/* @media screen and (min-width: 1441px) {
  .Header {
    min-height: 285px;
  }
} */
/* @media screen and (max-width: 768px) {
  .Header {
    min-height: 285px;
  }
} */
/* .Header {
  padding-top: 4.2rem;
  background: url(../../../assets/images/bg-desktop-light.jpg);
  min-height: 300px;
  background-size: cover;
  position: fixed;
  width: 100%;
}
.Header .cw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.darked Header {
  padding-top: 3.8rem;
  background: url(../../../assets/images/bg-desktop-dark.jpg);
  min-height: 300px;
  background-size: cover;
}
@media screen and (max-width: 375px) {
  .Header {
    padding-top: 2.2rem;
    background: url(../../../assets/images/bg-mobile-light.jpg);
    min-height: 200px;
  }
  .darked Header {
    padding-top: 2.2rem;
    background: url(../../../assets/images/bg-mobile-dark.jpg);
    min-height: 200px;
  }
} */